:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --blue: #3aace0;
    --pink: #c853c1;
    --red: #aa1e3a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: var(--darker);
    max-width: 600px;
    margin: 0 auto;
}

nav {
    background-color: var(--darkest);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

nav h1{
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--light);
}

#item-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
}

.nb-box {
    display: flex;
    flex-direction: column;
}

.nb-box #item-name {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.nb-box #name-item::placeholder {
    color: var(--gray);
}

.nb-box .add-item {
    margin: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: transparent;
    color: var(--blue);
    border: 0.5px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.1s;
}

.pq-box {
    display: flex;
    flex-direction: column;
}

.pq-box label {
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
    color: var(--gray);
    font-size: 1rem;
}

.pq-box input {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

#item-form .add-item:active {
    opacity: 0.6;
}

.list-header {
    display: flex;
    margin-bottom: 1rem;
}

.list-header h1 {
    flex: 1 1 0%;
    min-width: max-content;
    margin-left: 1rem;
    font-size: 1.5rem;
    align-self: center;
    color: var(--light);
}

.list-header hr {
    width: 100%;
    height: 1px;
    margin: auto 1rem;
    border: 1px solid var(--darkest);
}

.list-header .clear-all {
    min-width: max-content;
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: transparent;
    border: 0.5px solid;
    border-radius: 0.5rem;
    color: var(--red);
    font-size: 0.8rem;
    transition: 0.1s;
    cursor: pointer;
}

.list-header .clear-all:active {
    opacity: 0.6;
}

#item-list {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

#item-list .item {
    display: flex;
    margin-top: 0.5rem;
    background-color: var(--darkest);
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.bubble::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: var(--red);
    transition: 0.3s ease-in-out;
}

input:checked ~ .bubble::after {
    width: 8px;
    height: 8px;
    opacity: 1;
    border-radius: 50%;
}

.item .content {
    flex: 1 1 0%;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    color: var(--gray);
    transition: 0.4s;
}

.item .purchased {
    opacity: 0.3;
}

.item .actions {
    margin-right: 0.5rem;
}

.item .actions button {
    margin-left: 0.5rem;
    padding: 0.3rem;
    background-color: transparent;
}

.actions button:hover {
    opacity: 0.8;
}

.actions .edit {
    color: var(--blue);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.actions .delete {
    color: var(--red);
    border: none;
    font-weight: 700;
}

.price-line hr {
    border: 1px solid var(--darkest);
    margin: 2rem 1rem;
}

#total-price {
    margin: 0 auto 2rem 1rem;
    color: var(--gray);
}